@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <input type="text" name="Modelo" placeholder="Modelo Carro"/>
    <input type="number" name="AnoFabricacao" placeholder="Ano de Fabricação" />
    <input type="number" name="preco" placeholder="Preço do Carro" />
    <button type="submit">Enviar</button>
</form>
